{% extends "lims/base.html" %}
{% block bootstrap3_content %}
    {% with active=3 %}
    {{block.super}}
    {% endwith %}
{% endblock bootstrap3_content %}

{% block content %}
<a href="{% url "lims.views.index" %}">LIMS</a> > <a href="{% url "lims.views.barcode_index" %}">Barcode</a>
<div class="center">
<h1>Search for a barcode</h1>
<p>
<br />
<div class="span6 center">
    <div class="form-group col-sm-3 center">
        <label for="inputBarcode" class="control-label">Barcode</label>
        <input id="inputBarcode" type="text" class="form-control">  
    </div>
    <br />
    <button id="searchButton" type="button" class="btn btn-primary">Search</button>  
</div>
</p>
</div>
{% endblock %}
{% block custom_js %}
<script>
    /* Search barcode from textfield */
    $('#searchButton').click(function() {
        window.location = '/barcode/' + $('#inputBarcode').val();
    });

    /* Fire click on searchButton when Enter is pressed in the input field */
    $('#inputBarcode').keyup(function(e) {
        if (e.keyCode == 13) {
            $('#searchButton').click()
        }
    });
</script>
{% endblock %}
