{% extends "lims/base.html" %}
{% block bootstrap3_content %}
    {% with active=2 %}
    {{block.super}}
    {% endwith %}
{% endblock bootstrap3_content %}

{% block content %}
{% with objectname|slugify as slug %}
<a href="{% url "lims.views.index" %}">LIMS</a> > <a href="{% url "lims.views.browse" %}">Browse</a> > <a href="{% url "lims.views.browse."|add:slug %}">{{ verbose_name_plural }}</a> > <a href="{% url "lims.views.browse."|add:slug object.id %}">{{ object }}</a>
{% include "lims/objecttable.html" with objectname=verbose_name object=object only %}
<b>Options</b><br />
<ul>
    <li><a href="{% url "admin:lims_"|add:slug|add:"_change" object.id %}">Edit in Admin</a></li>
{% endwith %}
{% if objectname == "Sample" %}
    <li><a href="{% url "lims.views.sample_tree_json" object.id %}">View Sample Tree</a></li>
{% elif object.sample %}
    <li><a href="{% url "lims.views.sample_tree_json" object.sample.id %}">View Sample Tree</a></li>
{% endif %}
</ul>
{% endblock %}
