{% load staticfiles %}
<link href="{% static "lims/table.css" %}" rel="stylesheet" type="text/css" />
<table class="boxtable">
    <thead>
        <tr>
            <th>Sample</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="attr_name">ID</td>
            <td>{{ sample.id }}</td>
        </tr>
        <tr>
            <td class="attr_name">UID</td>
            <td>{{ sample.uid }}</td>
        </tr>
        <tr>
            <td class="attr_name">Collaborator</td>
            <td>{{ sample.collaborator }}</td>
        </tr>
        <tr>
            <td class="attr_name">Sample Type</td>
            <td>{{ sample.sample_type }}</td>
        </tr>
        <tr>
            <td class="attr_name">Sample Location</td>
            <td>{{ sample.sample_location }}</td>
        </tr>
        <tr>
            <td class="attr_name">Temperature</td>
            <td>{{ sample.temperature }}</td>
        </tr>
        <tr>
            <td class="attr_name">pH</td>
            <td>{{ sample.ph }}</td>
        </tr>
        <tr>
            <td class="attr_name">depth</td>
            <td>{{ sample.depth }}</td>
        </tr>
        <tr>
            <td class="attr_name">gps</td>
            <td>{{ sample.gps }}</td>
        </tr>
        <tr>
            <td class="attr_name">shipping_method</td>
            <td>{{ sample.shipping_method }}</td>
        </tr>
        <tr>
            <td class="attr_name">storage_medium</td>
            <td>{{ sample.storage_medium }}</td>
        </tr>
        <tr>
            <td class="attr_name">date_received</td>
            <td>{{ sample.date_received }}</td>
        </tr>
        <tr>
            <td class="attr_name">biosafety_level</td>
            <td>{{ sample.biosafety_level }}</td>
        </tr>
        <tr>
            <td class="attr_name">status</td>
            <td>{{ sample.status }}</td>
        </tr>
        <tr>
            <td class="attr_name">notes</td>
            <td>{{ sample.notes }}</td>
        </tr>
    </tbody>
</table>
