{% extends "lims/base.html" %}
{% block content %}
<div id="sampletree">
</div>
{% endblock %}
{% block custom_js %}
<script>
    $(document).ready(function() {
        var stree = $('#sampletree');
        var jsondata = JSON.parse('{{ json|safe|escape }}');

        // Create HTML list from JSON data
        $(listify(jsondata)).appendTo(stree);

        function listify(obj) {
            htmlstr = "";

            for (k in obj) {
                if (k == "url") {
                    continue;
                }

                htmlstr += '<ul><li>' + k + '</li><ul>';

                for (k2 in obj[k]) {
                    //TODO: I don't get why we get obj[k] undefined here
                    if (typeof obj[k] == "undefined") {
                        continue;
                    }
                    for (k3 in obj[k][k2]) {
                        //TODO: I don't get why we get obj[k] undefined here
                        if (typeof obj[k] == "undefined") {
                            continue;
                        }
                        if (k3 == "url") {
                            htmlstr += '<li><a href="' + obj[k][k2]["url"] + '">' + k2 + '</a></li>';
                        } else {
                            htmlstr += listify(obj[k][k2])
                        }
                    }
                }
                htmlstr += '<ul></ul>';

                if ("child" in obj) {
                    listify(obj["child"]);
                }

                return htmlstr;
            }
        }
    });
</script>
{% endblock %}
